name: pull request

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: "actions/setup-python@v2"
      with:
        python-version: "3.7"

    - name: "Install system dependencies"
      run: sudo apt update -y && sudo apt install -y libssl-dev libasio-dev

    - name: "Install python environment"
      run: |
        python -m pip install black coverage flake8 mypy pytest
        python -m pip install -r build-requirements.txt

    - name: "Install pyvroom"
      run: |
        # Because `pip install -e .` does not play nice with gcov, we go old school:
        CFLAGS="-coverage" python setup.py build_ext --inplace
        python setup.py develop

    - name: "Run tests"
      run: make test

    - name: "Upload python coverage"
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.codecov_token }}
        files: 'coverage/coverage.xml'
        flags: python
        fail_ci_if_error: true

    - name: "Upload binding coverage"
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.codecov_token }}
        files: 'coverage/*.gcov'
        flags: binding
        fail_ci_if_error: true

    - name: Verify clean directory
      run: git diff --exit-code
