name: release

on:
  push:
    tags:
      - '*'
    branches-ignore:
      - '*'

jobs:
  build_sdist:
    name: sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --sdist

      - name: Check metadata
        run: pipx run twine check dist/*

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  build_wheels:
    name: ${{ matrix.platform }}
    runs-on: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ubuntu-latest
            platform: linux
          - image: macos-13
            platform: macos-intel
          - image: macos-14
            platform: macos-arm
          - image: windows-latest
            platform: windows

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Cache Conan
      id: cache-conan
      uses: actions/cache@v3
      if: matrix.platform == 'windows'
      with:
        path: |
          conan_build
          conan_data
        key: conan-${{ matrix.image }}-${{ hashFiles('conanfile.txt') }}

    - name: Configure Python
      uses: actions/setup-python@v5
      if: matrix.platform == 'windows' && steps.cache-conan.outputs.cache-hit != 'true'
      with:
        python-version: '3.x'

    - name: Install Conan
      if: matrix.platform == 'windows' && steps.cache-conan.outputs.cache-hit != 'true'
      run: |
        pip install pip --upgrade
        pip install conan<2.0.0
        conan profile new default --detect
        conan profile update "settings.compiler=Visual Studio" default
        conan profile update "settings.compiler.version=17" default
        conan config set "storage.path=$env:GITHUB_WORKSPACE/conan_data"
        conan install --build=openssl --install-folder conan_build .

    - name: Set up QEMU
      if: matrix.platform == 'linux'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all

    - name: Build wheels
      if: matrix.platform != 'macos-arm'
      uses: pypa/cibuildwheel@v2.19.1
      env:
        MACOSX_DEPLOYMENT_TARGET: 13.0
        CIBW_ARCHS_LINUX: x86_64 aarch64

    - name: Build wheels
      if: matrix.platform == 'macos-arm'
      uses: pypa/cibuildwheel@v2.19.1
      env:
        MACOSX_DEPLOYMENT_TARGET: 14.0

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        path: wheelhouse/*.whl

  upload:
    name: upload
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-python@v5

    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.8.10
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
